*{
    margin: 0;
    padding: 0;
}

body{
    background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/login_background.jpg')  center top / cover no-repeat;

    height: 100%;
    width: 100%;

}

.left-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lostPassword{
    width: 200px;
    color: white;
}

.lostPassword:hover{
    color: rgb(255, 196, 0);
}

.legalLink{
    color: rgb(255, 196, 0);
}